# Ignore node_modules directories
**/node_modules

# Ignore build outputs
**/dist
**/build

# Ignore Git files
.git
.gitignore

# Ignore logs and temp files
logs
tmp
*.log

# Ignore editor directories and files
.vscode
.idea
*.swp
.DS_Store
